* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}
.section_centerText {
display: flex;
justify-content: center;
align-items: center;
}
footer,header {
width: 100%;
height: 15vh;
border: 2px solid rgb(0, 17, 255) ;
background:aquamarine;
clear: both;
}
header {
    margin-bottom: 5px;
}
footer {
    margin-top: 5px;
}
.section_container {
    height: 35vh;
    border: 1px solid red;
    background: lightcoral;
    float: left;
}
.section_columnOne {
    margin: 0px 3px;
    width: 99.5%;
    float: left;
}
.section_doubleColumn {
    margin: 5px 2px;
    height: 35vh;
}
.section_leftColumn {
    width: 40.2%;
}
.section_rightColumn {
    width: 59%;
}


@media screen and (max-width: 425px) {
    .section_container {
        border: 2px solid purple;
        background: rgb(175, 105, 175);
        width: 100%;
    }
    .section_mobile {
         
        border: 2px solid rgb(255, 102, 0);
        background: rgb(255, 177, 124);
    }
    .section_doubleColumn {
        margin: 5px 2px;
        height: 35vh;
    }
     .section_leftColumn {
        width: 39.75%;
    }
    .section_rightColumn {
        width: 58.3%;
    }
 }
 
 @media (min-width: 426px) and (max-width: 768px) {
     .section_mobile {
         border: 2px solid rgb(0, 80, 0);
         background: rgb(156, 255, 156);
     }
 
     .section_container {
        border: 2px solid rgb(255, 166, 0);
        background: rgb(253, 213, 139);
     }
     .section_doubleColumn {
        margin: 5px 2px;
        height: 35vh;
    }
     .section_leftColumn {
        width: 39.75%;
    }
    .section_rightColumn {
        width: 59.2%;
    }
 }
 